.filter {
    list-style: none;
    margin: 40px 0 12px;

    &__item {
        display: inline-block;
        background-color: #0aaee4;
        border: 2px solid #0aaee4;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        border-radius: 5px;
        padding: 8px 14px;
        margin-right: 7px;
        margin-bottom: 7px;
        cursor: pointer;
        transition: ease-in-out 0.2s all;
        
        &:hover {
            background-color: #fff;
            color: #0aaee4;
            border: 2px solid #0aaee4;
        }

        &_active {
            background-color: #fff;
            color: #0aaee4;
            border: 2px solid #0aaee4;
        }
    }
}