.library {
    background-color: #f5f6f6;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 375px);
    grid-auto-rows: 480px;
    justify-content: space-between;

    &_block {
        display: block;
    }
}