.view {

    list-style: none;

    &__item {
        display: inline-block;
        width: 25px;
        height: 25px;
        cursor: pointer;

        &_grid {
            background: url(img/grid-off.png) no-repeat;
            background-size: 100%;
        }

        &_grid-active {
            background: url(img/grid-on.png) no-repeat;
            background-size: 100%;
        }

        &_table {
            margin-left: 11px;
            background: url(img/table-off.png) no-repeat;
            background-size: 100%;
        }

        &_table-active {
            background: url(img/table-on.png) no-repeat;
            background-size: 100%;
        }
    }
}