h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    overflow: scroll;
}

.container {
    width: 1590px;
    margin: 0 auto;

    @media (max-width: 1650px) {
        width: 1120px;
    }

    @media (max-width: 1200px) {
        width: 920px;
    }

    @media (max-width: 992px) { 
        width: 760px; 
    }

    @media (max-width: 768px) {  
        width: 560px; 
    }

    @media (max-width: 576px) {
        width: 360px;
    }

    &_flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media (max-width: 768px) {  
            flex-direction: column;
            align-items: center;
        }
    }
    
    &_nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.main {
    padding: 58px 0 84px 0;
    background-color: #f5f6f6;

    &_detailed {
        position: relative;
        height: 825px;
        background-color: transparent;
        overflow: hidden;
    }

    @media (max-width: 992px) { 
        padding: 40px 0 50px 0;
        background-color: #f5f6f6;
        height: auto;
    }

    @media (max-width: 768px) {  
        
    }

    @media (max-width: 576px) {
        
    }
}